
    
    .navbar{
    position: fixed;
    }

    .pageHeader{
        display:flex;
        margin-top: 20px;
        margin-left: 30px;
    }
    #bannerImage {
        width: 100%;
        height: 100px;
    }

    .page_workHist .card{
        display: flex;
        flex-direction:row;
        width:1000px;
        height:400px;
        margin:15px;
    }

    .page_projects .projectBody{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        width:100%;
        margin:20px;
        height:auto;
    }

    .page_projects .card{
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 200px;
        height: auto;
        margin:15px;
    }
