.navbar{
    position: fixed;
}

#bannerImage {
    width: 100%;
    height: 100px;
}

.card{
    display: flex;
    flex-direction:row;
    width:1000px;
    height:400px;
    margin:15px;
}